* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.country-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 8px;
}

.country-list li span:first-child {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  border-radius: 50%
}

.country-list li img {
  width: auto
}

.country-list li span:last-child {
  font-weight: bold;
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  width: 300px;
  padding: 8px;
}

.country-info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.country-info div span:first-child {
  font-weight: bold;
  margin-right: 8px;
  min-width: 100px;
}

.country-info div span:last-child {
  color: #666;
}
